.hero .hero-img,
.bottom-hero .hero-img {
  max-width: none;
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background-image: url(../img/hero-mobile.jpg);
  background-size: cover;
}

.bottom-hero .hero-img {
  max-width: none;
  background-image: url(../img/bg-bottom-hero-mobile.png);
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background-image: url(../img/hero-tablet.jpg);
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background-image: url(../img/bg-bottom-hero-tablet.png);
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background-image: url(../img/hero-desktop.jpg);
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background-image: url(../img/bg-bottom-hero-desktop.png);
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 160px;
  }
}
